* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1521729839347-131a32f9abcb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1197&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    margin: 0 auto;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    background: rgba(129, 170, 173, 0.6);
    overflow: hidden;
}

.first-step,
.second-step,
.third-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    text-align: center;
}

textarea {
    height: 200px;
    width: 100%;
    background: gray;
    color: white;
    resize: none;
}

input {
    padding: 5px;
    border: 1px solid rgb(0, 152, 187);
    border-radius: 10px;
}

label {
    color: rgb(0, 27, 36);
    margin-top: 5px;
}

button {
    background-color: rgb(255, 215, 143);
    padding: 4px 6px;
    border: none;
    color: rgb(0, 27, 36);
    border-radius: 10px;
    font-weight: bold;
}
#password-error {
    color: rgb(162, 35, 35);
}

@keyframes transition {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.first-step,
.second-step,
.third-step,
.fourth-step {
    animation: transition 0.4s;
}